/*CSS document*/

body {
    font-family: forma-djr-display, sans-serif; 
    font-weight:500;
    font-size:normal;
    letter-spacing: 0.05em;
    color: #323031;
	margin: auto;
}

header {
    max-width: 55em;
    margin: auto;
    border-bottom: 1em solid #FFC857;
	}

nav {
    font-family: kallisto, sans-serif;
	font-weight: 400;
	font-style: normal;
    color: #084C61;
	}   
    
nav ul li {
    display: inline;
    text-transform: uppercase;
    margin-right: 1.5em;
}

nav ul li a {
    color: #323031;
    text-decoration: none;
}

nav ul li a:hover {
	color: #FFC857;
	}


div.container {
    max-width: 55em;
    margin: auto;
    padding: 1em;
}
section {
    padding: 1em 0 1em 0;
    border-bottom: 0.25em solid #FFC857;
}
section p {
    padding: 0em 0.5em 0em 0.5em;
}
section h3 {
    padding: 0em 0em 0em 0.25em;
}

section.nonimg {
    background-color: #eeeeee;
}

article {
    padding: 1em 0 1em 0;
    border-bottom: 0.5em double #FFC857;
}

h1 {
    width: 11em;
	padding: .5em 0em 0em .65em;
}

h1, h2, h3, h4 {
    font-family: kallisto, sans-serif;
	font-weight: 500;
	font-style: normal;
    color: #084C61;
	max-width: 75em;
	margin:  auto ;
}

a {
	text-decoration: none;
    color: #323031;
	}
	
figure {
    margin: 0;
}

h1 img {
    width: 100%;
    border-bottom: none;
}
img {
    width: 100%;
    /* border-bottom: 0.5em solid #FFC857; */
}

figcaption {
    padding: .5em 0em 1em 0em;
    font-style:italic;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li 	{
	list-style-type: none;
}

footer {
    bottom: 0;
    max-width: 55em;
    padding: 0.25em .75em 0em .75em;
    background-color: #eeeeee;
    font-family: kallisto, sans-serif;
	font-weight: 400;
	font-style: italic;
    border-bottom: 1em solid #FFC857;
  }

  /*
Color Palette Notes:
Light Blue - #177E89
Dark Blue - #084C61
Red - #DB3A34
Yellow - #FFC857
Black - #323031
  */
